*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    margin: 30rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#tira_il_dado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#dado_user {
    background-color: aqua;
}
#dado_machine {
    background-color: red;
}