*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    margin: 15rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2 {
    margin: 0 0  5rem 0;
    font-size: 50px;
    color: brown;
    box-shadow: 1rem 2rem 2rem;
}
#tira_il_dado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10rem 0 0;
}
#dado_user {
    background-color: greenyellow;
    margin: 1rem;
    
}
#dado_machine {
    background-color: red;
    color: white;
}